@media (max-width: 1024px){
    .margin-top-1{
        margin-top: 13rem;
    }
    .margin-top-3{
        margin-top: 10rem;
    }
    .logo-1{
        width: 150px;
      }
}
@media (max-width: 768px) {
    .font-size-68px{
        font-size: 55px;
    }
    .font-size-58px{
        font-size: 48px;
    }
    .margin-top-3{
        margin-top: 8rem;
    }
    .margin-top-4{
        margin-top: 3rem;
    }
    .logo-1{
        width: 220px;
      }
}
@media (max-width: 616px){
    .bg-main{
        background-image: url(../images/main-bg.webp);
        background-size: cover;
        height: 100vh;
        background-position: 30%;
    }
    .logo-1{
        width: 150px;
      }
}
@media (max-width:425px) {
    .font-size-68px{
        font-size: 48px;
    }
    .font-size-58px{
        font-size: 38px;
    }
    .logo-1{
        width: 130px;
      }
}